header{
    display:  flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: forestgreen;
    color: white;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; // make the nav expand across the entire bar

        // immidiate span
        > span {
                cursor: pointer;
                &:hover {
                    color: rgb(81, 204, 91);
                }
            }

        // route links
        ul {
            list-style: none;
            li {
                cursor: pointer;
                &:hover {
                    color: rgb(81, 204, 91);
                }
            }
        }
    }
}